.fill { 
    min-height: 100vh
}

.graph-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration-color: teal;
}
.ecuations {
    display: flex;
    justify-content: space-around;
}
  
#plot {
    width:800px;
    height: 500px;
}

.ecuation-input {
    width: 85%;
}

.background-container {
    background-color: #474747;
}

.ecuation-form {
    margin-top: 20px;
}

.graph {
    align-self: center;
}

.ecuation-item {
    justify-content: space-between;
}

.color-input {
    height: 30px;
}

.view-button {
    margin-right: 5px;
}
